body{
    margin:0;
    padding: 0;
}
.nav{
    padding: 20px;
}
.container{
    background-color: rgb(234, 241, 239);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.blog-post{
    background-color: rgb(219, 219, 247);
}
.card{
    background-color: rgb(237, 237, 233);
    border: 1px solid blue;
    margin: 5px 5px;
    color: black;
    border-radius: 25px;
    padding: 10px;
}
.card span {
    display: flex;
    flex-direction: column;

}
input:required, textarea:required {
  border: 1px solid rgb(255, 68, 0);
}
input:valid, textarea:valid {
  border: 1px solid green;
}
input:focus:invalid, textarea:focus:invalid {
  outline: none; 
}
.newEntry h4{
    margin-top: 5px;
    margin-bottom: 3px;
}
.submit-form{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    margin: 15px 0 15px 0;
}
.btn{
    border-radius: 15px;
    background-color: rgb(54, 54, 155);
    color: bisque;
}