body{
    margin:0;
    padding: 0;
}
.container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.blog-post{
    background-color: rgb(219, 219, 247);
}