body{
    margin:0;
    padding: 0;
}
.container{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
}
.blog-post{
    background-color: rgb(219, 219, 247);
}
.card{
    background-color: rgb(237, 237, 233);
    border: 1px solid blue;
    margin: 5px 5px;
    color: black;
    border-radius: 25px;
    padding: 10px;
}